/* html,body{height:100%;} */

.carousel-caption {
    background:rgba(10, 10, 10, 0.45);
}

.carousel-caption h3 {
  padding-right: 10px;
  padding-left: 10px;
  color: #fff !important;
}

.carousel-inner,.carousel,.item,.container,.fill {
  /* height:490px; */
  width:100%;
  background-position:center center;
  background-size:cover;
}
